@page
@using Universalis.Mogboard.WebUI.Services
@model Universalis.Mogboard.WebUI.Pages.IndexModel
@inject ITranslationService _localize
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@_localize.Translate("generic_index", "Index")</title>
</head>
<body>
</body>
</html>
