version: "2.4"
services:
  prometheus:
    image: prom/prometheus:v2.36.0
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    extra_hosts: # Grafana and Prometheus need to reach out to the application for stats
      - "host.docker.internal:host-gateway"
  grafana:
    image: grafana/grafana:8.5.5
    ports:
      - "3000:3000"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - "./data:/var/lib/grafana"
  rabbitmq:
    image: masstransit/rabbitmq:3.9.15
    ports:
      - "15672:15672"
      - "5672:5672"
  mariadb:
    image: mariadb:10.3.32
    ports:
      - "4003:3306"
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: dalamud
      MYSQL_USER: dalamud
      MYSQL_PASSWORD: dalamud
    volumes:
      - "./sqlinit:/docker-entrypoint-initdb.d"
  memcached1:
    image: memcached:1.6.17
    ports:
      - "4080:11212"
  memcached2:
    image: memcached:1.6.17
    ports:
      - "4081:11212"
  postgres:
    image: postgres:14.3
    command: postgres -c max_connections=100 -c shared_buffers=512MB
    ports:
      - "4052:5432"
    environment:
      POSTGRES_USER: universalis
      POSTGRES_PASSWORD: universalis
    shm_size: 512mb
    volumes:
      - ./postgres:/var/lib/postgres/data
  redis:
    image: redis:7.0.0
    command: redis-server --save 600 1 --loglevel warning
    ports:
      - "4050:6379"
    volumes:
      - "./redis:/data"