version: "2.4"
services:
  universalis:
    image: ghcr.io/universalis-ffxiv/universalis:latest
    environment:
      ASPNETCORE_URLS: http://+:4002
    volumes:
      - /home/universalis/sqpack:/sqpack
      - /home/universalis/DataProtection-Keys:/root/.aspnet/DataProtection-Keys
      - /home/universalis/universalis-logs:/logs
    network_mode: "host" # TODO: Containerize MongoDB so this can be changed
  lodestone:
    image: ghcr.io/universalis-ffxiv/lodestone:latest
    ports:
      - 3999:3999
  prometheus:
    image: prom/prometheus:v2.33.4
    network_mode: "host"
    volumes:
      - /home/universalis/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
  grafana:
    image: grafana/grafana:8.4.2
    network_mode: "host"
    volumes:
      - /home/universalis/grafana/data:/var/lib/grafana
    environment:
      GF_server_root_url: monitor.universalis.app
    user: '104'
  watchtower:
    image: containrrr/watchtower
    environment:
      WATCHTOWER_NOTIFICATIONS: shoutrrr
      WATCHTOWER_NOTIFICATION_URL: "discord://${ALERTS_CHANNEL_WEBHOOK}" # Format: token@channel
      WATCHTOWER_NOTIFICATION_TEMPLATE: "{{range .}}{{.Time.Format \"2006-01-02 15:04:05\"}} ({{.Level}}): {{.Message}}{{println}}{{end}}"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/universalis/.docker/config.json:/config.json
    command: --interval 30