// Rarity colors from the game
.rarity-1 { color: #eee !important; &:hover { color: #d6d6d6; } }
.rarity-2 { color: #89ffbc !important; &:hover { color: #6bd599; } }
.rarity-3 { color: #3dafff !important; &:hover { color: #3389cb; } }
.rarity-4 { color: #f44bff !important; &:hover { color: #c53fce; } }
.rarity-7 { color: #ff7e85 !important; &:hover { color: #c46262; } }

//
// Primary elements
//

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-shadow: 0 1px 2px #000;
    background-color: var(--color7);
    color: #fff;
}

body {
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
    font-weight: 300;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 34px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 26px;
}

h6 {
    font-size: 22px;
}

p {
    line-height: 22px;
    font-size: 16px;
    margin-bottom: 15px;
}

a {
    color: var(--purple);
    text-decoration: none;

    &:hover, &:focus {
        color: var(--purple-3x);
        cursor: pointer;
    }
}

strong {
    font-weight: 600;
}

em {
    font-style: italic;
}

pre, code {
    font-family: 'Roboto Mono', monospace;

    &.inline {
        padding: 5px 10px;
        background-color: #181818;
        border-radius: 100px;
    }

    &.box {
        color: #c2c2c2;
        display: block;
        background-color: #111;
        padding: 6px 10px;
        border-radius: 3px;
        margin-bottom: 15px;
        line-height: 20px;

        em {
            color: #fff99d;
        }
    }

    span {
        color: var(--blue-3x);
    }

    em {
        color: var(--color8);
        font-style: normal;
    }

    strong {
        color: var(--green-3x);
    }
}

form,
.form {
    button {
        @extend .btn;
    }

    label {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 8px;
        color: #aaa;
        display: block;

        &.full {
            width: 100%;
        }
    }

    input[type="text"],
    select {
        height: var(--form-field-height);
        line-height: var(--form-field-height);

        background-color: var(--color3);
        border: none;
        font-size: 16px;
        border-radius: 3px;
        color: #333;
        padding: 0 10px;
        transition: var(--transition-speed);
        outline: none;
        box-shadow: 0 1px 3px rgba(0,0,0,0.5);

        &:hover {
            background-color: #fff;
        }

        &.full {
            width: 100%;
        }

        &.big {
            height: var(--form-field-height2);
            line-height: var(--form-field-height2);

            font-size: 20px;
            padding: 0 15px;
        }
    }

    textarea {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        background-color: var(--color3);
        border: none;
        border-radius: 3px;
        color: #333;
        padding: 10px;
        transition: var(--transition-speed);
        outline: none;
        box-shadow: 0 1px 3px rgba(0,0,0,0.5);
        width: 100%;
        min-height: 200px;
    }

    .checkbox {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        padding: 5px 0;
        position: relative;

        label {
            position: relative;
            font-size: 17px;
            color: #fff;
            display: inline-block;
            padding: 1px 0 0 30px;
            outline: none;
            cursor: pointer;

            &::before,
            &::after {
                position: absolute;
                content: "";
                display: inline-block;
            }

            &::before{
                height: 18px;
                width: 18px;
                border: 1px solid rgba(255,255,255,0.3);
                left: 0;
                top: -1px;
                border-radius: 3px;
            }

            &:hover &::before {
                border: 1px solid rgba(255,255,255,0.8);
            }

            &::after {
                height: 6px;
                width: 10px;
                left: 4px;
                top: 3px;
                border-left: 2px solid var(--highlight);
                border-bottom: 2px solid var(--highlight);
                transform: rotate(-45deg);
            }
        }

        input[type="checkbox"] {
            opacity: 0;
            position: absolute;

            &:checked + label::after {
                content: "";
            }

            & + label::after {
                content: none;
            }
        }
    }

    .form_row {
        margin-bottom: 20px !important;

        small {
            font-size: 13px;
            color: #728698;
        }
    }

    .form_columns {
        display: flex;
        margin: 0 -10px;

        > div {
            padding: 0 10px;
        }
    }
}

table {
    width: 100%;

    th, td {
        padding: 10px;
        text-align: left;
    }

    td {
        vertical-align: top;
    }
}

.table-blank {
    @include mq($until: tablet) {
        overflow: auto;
        border: solid 1px #000;
        border-radius: 5px;
        background-color: rgba(0,0,0,0.25);
    }
}

.table,
.table-dark {
    box-shadow: 0 1px 2px 1px #000;
    border-radius: 4px;
    overflow: hidden;

    @include mq($until: tablet) {
        overflow: auto;
    }

    table {
        width: 100%;

        @include mq($until: tablet) {
            min-width: 800px;
        }

        thead {
            background-color: var(--table-color);
            border-bottom: solid 1px #000;
            box-shadow: 0 1px 3px rgba(0,0,0,0.5);

            th {
                font-size: 13px;
                font-weight: 600;
                color: #fff;
                text-shadow: none;
                text-transform: uppercase;
            }
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: solid 1px var(--table-color);
        }

        td {
            vertical-align: top;
            border-right: solid 1px var(--table-color);
            line-height: 20px;

            &:last-of-type {
                border-right: none;
            }
        }

        tr:last-of-type td {
            border-bottom: none;
        }

        tr {
            transition: 100ms;
        }

        &.striped tr:nth-of-type(even) {
            background-color: rgba(80,80,80,0.1);
        }

        &.small {
            font-size: 13px;

            th, td {
                padding: 5px;
            }
        }
    }
}

.table-dark {
    background-color: var(--table-color-dark);

    tr td:first-of-type {
        color: var(--purple-3x);
    }

    small {
        font-size: 13px;
        display: block;
        margin-top: 5px;
        opacity: 0.60;
    }
}

.table-light {
    box-shadow: none;
    background-color: var(--table-color);

    table {
        thead {
            background-color: var(--color9);
            border-bottom: solid 1px #000;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        }

        td:first-of-type {
            color: #fff;
        }

        td {
            border-bottom: solid 1px var(--table-color-4x);
            border-right: solid 1px var(--table-color-4x);
        }
    }
}

.table-sortable {
    th[data-sort]:hover {
        background-color: var(--table-color-3x);
        position: relative;
        box-shadow: 0 0 5px #000;
        cursor: pointer;
    }
}

hr {
    border: none;
    background-color: var(--default-2x);
    height: 2px;
    margin: 30px 0;
}

header {
    width: 100%;
    display: flex;

    @include mq($until: desktop) {
        display: block;

        background: rgb(45,45,45);
        background: -moz-linear-gradient(top, rgba(45,45,45,1) 0%, rgba(28,28,28,1) 100%);
        background: -webkit-linear-gradient(top, rgba(45,45,45,1) 0%,rgba(28,28,28,1) 100%);
        background: linear-gradient(to bottom, rgba(45,45,45,1) 0%,rgba(28,28,28,1) 100%);

        position: fixed;
        z-index: 1000;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0 0 10px #000;
    }

    > div {
        padding: 20px;

        @include mq($until: desktop) {
            padding: 10px;
        }
    }

    // logo, search, nav
    > div:first-of-type {
        flex: 0 1 calc(100% - 400px);
        display: flex;

        @include mq($until: desktop) {
            //flex: none;
            //padding: 5px;
        }

        .btn-home {
            color: #fff;
            height: 50px;
            display: inline-block;

            @include mq($until: desktop) {
                margin-top: -5px;
            }

            img {
                transition: 150ms;
                margin: -15px 0 0 0;

                filter: grayscale(100%);
                -webkit-filter: grayscale(100%);
                height: 64px;
            }

            &:hover img {
                -webkit-filter: drop-shadow(3px 3px 3px rgba(255, 255, 255, 0.2));
                filter: drop-shadow(3px 3px 3px rgba(255, 255, 255, 0.2));
                opacity: 1;
            }
        }

        .header-nav{
            display: flex;
            background: rgb(54, 63, 81);
            background: -moz-linear-gradient(top, rgb(54, 63, 81) 0%, rgb(50, 60, 71) 100%);
            background: -webkit-linear-gradient(top, rgb(54, 63, 81) 0%, rgb(50, 60, 71) 100%);
            background: linear-gradient(to bottom, rgb(54, 63, 81) 0%, rgb(50, 60, 71) 100%);

            position: relative;
            border-radius: 4px;
            box-shadow: 0 1px 3px #000;
            overflow: hidden;
            margin: 0 0 0 19px;
            height: 46px;

            .search-loading {
                position: absolute;
                left: 360px;
                top: 10px;
                height: 25px;
                display: none;

                &.on {
                    display: block;
                }
            }

            a.btn-patron {
                line-height: 46px;
                background-color: #f86754;
                padding: 0 15px;

                img {
                    height: 24px;
                    display: inline-table;
                    vertical-align: middle;
                    transition: 80ms;
                }

                @include mq($until: tablet) {
                    display: none;
                }
            }

            input, button {
                height: 46px;
                line-height: 46px;
                background-color: transparent;
                border: none;
                color: #fff;
                font-size: 17px;
                padding: 0 16px;
                transition: 150ms;
                outline: none;

                border-right: solid 1px #000;
                box-shadow: 1px 0 #444;

                i {
                    font-size: 19px;
                    vertical-align: middle;
                    display: inline-table;
                    margin: 0 6px -3px 0;
                }

                &:last-child {
                    border-right: none;
                    box-shadow: none;
                }

                &.search {
                    width: 400px;
                }

                &:hover, &:focus {
                    background-color: rgba(0,0,0,0.2);
                    cursor: pointer;
                }

                &.typing {
                    background: linear-gradient(270deg, rgba(213, 184, 55, 0.15), rgba(98, 184, 246, 0.15));
                    background-size: 400% 400%;

                    -webkit-animation: AnimationName 4s ease infinite;
                    -moz-animation: AnimationName 4s ease infinite;
                    animation: AnimationName 4s ease infinite;

                    @-webkit-keyframes AnimationName {
                        0%{background-position:0% 50%}
                        50%{background-position:100% 50%}
                        100%{background-position:0% 50%}
                    }
                    @-moz-keyframes AnimationName {
                        0%{background-position:0% 50%}
                        50%{background-position:100% 50%}
                        100%{background-position:0% 50%}
                    }
                    @keyframes AnimationName {
                        0%{background-position:0% 50%}
                        50%{background-position:100% 50%}
                        100%{background-position:0% 50%}
                    }
                }

                &.complete {
                    background-color: rgba(137, 255, 139, 0.15);
                }

                @include mq($until: tablet) {
                    &.search {
                        width: 100%;
                        max-width: 150px;
                    }

                    &.btn-market-board {
                        i {
                            margin: 0 0 -3px 0;
                        }
                        span {
                            display: none;
                        }
                    }
                }
            }

            input::placeholder {
                color: var(--color6);
            }
        }
    }

    > div:last-of-type {
        display: flex;
        flex: 0 1 400px;
        text-align: right;
        flex-direction: row;
        justify-content: flex-end;

        > div {
            flex: 0 1 auto;
        }

        @include mq($until: tablet) {
            flex: none;
            position: fixed;
            top: 0; left: 0; right: 0;
            background-color: var(--color7);
            box-shadow: 0 1px 4px #000;
            display: flex;

            flex-direction: row;
            justify-content: flex-start;

            > div, > a {
                flex: 0 1 50%;

                &:last-of-type {
                    text-align: right;
                }
            }

            @include mq($until: tablet) {
                > div {
                    text-align: left;
                }
            }
        }

        a {
            color: #888;
            display: inline-block;
            font-size: 18px;
            font-weight: 400;
            padding: 15px 20px 0 0;
            transition: 150ms;

            &:hover {
                color: #fff;
            }

            @include mq($until: tablet) {
                padding: 5px 0 0 5px;
            }
        }

        .username {
            color: var(--color8);
            display: inline-block;
            font-size: 18px;
            font-weight: 400;
            padding: 15px 10px 0 0;

            @include mq($until: tablet) {
                display: none;
            }
        }

        .img-avatar {
            height: 42px;
            width: 42px;
            border-radius: 50px;
            box-shadow: 0 1px 5px #000;
        }

        .btn-login {
            background-color: var(--purple-2x);
            border-radius: 3px;
            box-shadow: 0 1px 3px #000;
            color: #fff;
            height: 40px;
            line-height: 40px;
            padding: 0 15px;
            font-weight: 600;
            font-size: 17px;
            transition: 100ms;
            margin-top: 3px;

            @include mq($until: tablet) {
                height: 30px;
                line-height: 30px;
                font-size: 15px;
                vertical-align: middle;
                margin: 0;
                text-align: center !important;
            }

            &:hover {
                background-color: var(--purple);
            }
        }

        .btn-settings {
            height: var(--form-field-height);
            border: none;
            padding: 8px 2px 0 2px;
            background-color: transparent;
            outline: none;
            cursor: pointer;
            margin: 0 10px;

            @include mq($until: tablet) {
                padding: 0;
                line-height: 24px;
                height: 24px;
                margin-bottom: 4px;
            }

            > span {
                font-size: 32px;
                color: #444;
                transition: var(--transition-speed);

                @include mq($until: tablet) {
                    font-size: 24px;
                    color: #888;
                    line-height: 24px;
                }
            }

            &:hover > span {
                color: #888;
            }
        }
    }
}

main {
    padding: 10px 30px;

    @include mq($until: desktop) {
        padding: 10px;
    }

    @include mq($until: tablet) {
        padding: 80px 10px 100px 10px;
    }
}

footer {
    opacity: 0.5;
    text-align: center;
    padding: 40px 0;
    color: #ccc;
    font-size: 15px;
    line-height: 22px;

    @include mq($until: tablet) {
        display: none;
    }

    em {
        color: var(--blue-3x);
        font-style: normal;
    }

    small {
        font-size: 13px;
    }
}

ul,ol {
    padding: 0 0 0 30px;
    margin-bottom: 30px;
    list-style: circle;

    li {
        padding: 8px;
        line-height: 20px;
    }
}

.loading_interaction {
    background-image: url('/i/svg/loading3.svg');
    background-size: auto 70%;
    background-position: center;
    background-repeat: no-repeat;
    transition: none;
}

//
// simple sidebar
//
.simplebar-track {
    z-index: 50;
}

//
// Custom elements
//
.fr { float: right; }
.tac { text-align: center !important; }
.tar { text-align: right !important; }
.ilv {
    font-style: normal;
    display: inline-block;
    margin-right: 5px;
    color: var(--color8);
}

.text-red { color: var(--red-3x) };
.text-blue { color: var(--blue-3x) };
.text-green { color: var(--green-3x) };
.text-purple { color: var(--purple-3x) };
.text-white  { color: var(--white) };
.text-yellow  { color: var(--color8) };
.text-gray  { color: var(--color6) };
.text-highlight  { color: var(--highlight) };

.alert-default,
.alert-dark,
.alert-red,
.alert-blue,
.alert-green,
.alert-purple,
.alert-white,
.alert-light {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    line-height: 24px;
    overflow: hidden;

    h1 {
        font-size: 32px;
        font-weight: 400;
    }

    p {
        color: #fff;
    }

    h4 {
        margin-bottom: 5px;

        img {
            vertical-align: middle;
            display: inline-table;
            margin-top: -3px;
        }
    }
}

.alert-default {
    background-color: var(--default);
}
.alert-red {
    background-color: var(--red-2x);
}
.alert-blue {
    background-color: var(--blue-2x);
}
.alert-green {
    background-color: var(--green-2x);
}
.alert-purple {
    background-color: var(--purple-2x);
}
.alert-dark {
    background-color: var(--color7);
}
.alert-light {
    background-color: var(--dark-blue);
}
.alert-white {
    background-color: var(--white);
    color: #333;
    text-shadow: none;
}

.btn {
    display: inline-block;
    height: var(--form-field-height);
    line-height: var(--form-field-height);
    background-color: var(--default);
    border: none;
    font-size: 16px;
    color: #eee;
    border-radius: 4px;
    padding: 0 12px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.8);
    cursor: pointer;
    transition: var(--transition-speed);
    outline: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);

    i {
        margin-right: 5px;
        display: inline-block;
        vertical-align: middle;
    }

    &:disabled {
        opacity: 0.75;
    }

    &:hover {
        background-color: var(--default-2x);
    }

    &.btn-red {
        background-color: var(--red);

        &:hover {
            background-color: var(--red-2x);
        }
    }

    &.btn-blue {
        background-color: var(--blue);

        &:hover {
            background-color: var(--blue-2x);
        }
    }

    &.btn-green {
        background-color: var(--green);

        &:hover {
            background-color: var(--green-2x);
        }
    }

    &.btn-purple {
        background-color: var(--purple);

        &:hover {
            background-color: var(--purple-2x);
        }
    }

    &.btn-white {
        color: #333;
        text-shadow: none;
        background-color: var(--white);

        &:hover {
            background-color: var(--white-2x);
        }
    }

    &.btn-outline,
    &.btn-red-outline,
    &.btn-blue-outline,
    &.btn-green-outline,
    &.btn-purple-outline,
    &.btn-white-outline
    {
        background-color: transparent;
        box-shadow: none;
    }

    &.btn-outline {
        border: solid var(--default-outline-size) var(--default);

        &:hover {
            border: solid var(--default-outline-size) var(--default-2x);
        }
    }

    &.btn-red-outline {
        border: solid var(--default-outline-size) var(--red);

        &:hover {
            border: solid var(--default-outline-size) var(--red-2x);
        }
    }

    &.btn-blue-outline {
        border: solid var(--default-outline-size) var(--blue);

        &:hover {
            border: solid var(--default-outline-size) var(--blue-2x);
        }
    }

    &.btn-green-outline {
        border: solid var(--default-outline-size) var(--green);

        &:hover {
            border: solid var(--default-outline-size) var(--green-2x);
        }
    }

    &.btn-purple-outline {
        border: solid var(--default-outline-size) var(--purple);

        &:hover {
            border: solid var(--default-outline-size) var(--purple-2x);
        }
    }

    &.btn-white-outline {
        border: solid var(--default-outline-size) var(--white);

        &:hover {
            border: solid var(--default-outline-size) var(--white-2x);
        }
    }

    &.full {
        width: 100%;
    }

    &.small {
        padding: 0 8px;
        height: 28px;
        line-height: 28px;
        font-size: 15px;
    }
}

.badge-red,
.badge-blue,
.badge-green,
.badge-purple,
.badge-white {
    padding: 4px 6px;
    border-radius: 30px;
}

.badge-red {
    background-color: var(--red);
}
.badge-blue {
    background-color: var(--blue);
}
.badge-green {
    background-color: var(--green);
}
.badge-purple {
    background-color: var(--purple);
}
.badge-white {
    background-color: var(--white);
    color: #333;
    text-shadow: none;
}

.flex {
    display: flex;
    position: relative;

    &.flex-wrap {
        flex-wrap: wrap;
    }

    &.flex-justify-center {
        justify-content: center;
    }

    &.flex-justify-space {
        justify-content: space-between;
    }

    @for $i from 1 through 20 {
        .flex_#{$i * 5} {
            flex: 0 1 $i * 5%;
        }
    }
}

//
// Misc elements
//
.loading {
    margin: 50px auto;
    text-align: center;

    img {
        height: 200px;
    }
}

.modal_settings
{
    max-width: 600px;

    // handled differently due to small screens
    top: 10px;
    position: absolute;
    transform: translate(-50%, 0);

    @include mq($until: desktop) {
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        transform: translate(0%);
    }

    .modal_settings-form {
        display: flex;

        input {
            margin-right: 15px;
            width: 260px;
        }
    }

    .logout {
        color: rgba(255, 79, 71, 0.84);

        &:hover {
            opacity: 1;
        }
    }
}

.site-menu {
    position: absolute;
    top: 70px;
    left: 596px;
    display: none;
    z-index: 50;

    &.open {
        display: block;
    }

    background: rgb(57, 79, 106);
    border-radius: 4px;
    box-shadow: 0 1px 4px #000;

    width: 140px;
    overflow: hidden;

    a {
        width: 100%;
        border-bottom: solid 1px #000;
        line-height: 42px;
        height: 42px;
        padding: 0 12px;
        display: block;
        color: #fff;

        &:hover {
            background-color: var(--color5);
        }
    }

    @include mq($until: tablet) {
        top: 50px;
        left: 0;
        right: 0;
        width: 100%;
        border-radius: 0;
    }
}

.search-results-container {
    position: absolute;
    top: 60px;
    left: 70px;
    padding: 10px;
    display: none;
    z-index: 50;

    &.open {
        display: block;
    }

    @include mq($until: desktop) {
        top: 50px;
        left: 0;
        right: 0;
        padding: 0;
    }
}

.search-results,
.market-category {
    background: rgb(54, 63, 81);
    background: -moz-linear-gradient(top, rgb(54, 63, 81) 0%, rgb(50, 60, 71) 100%);
    background: -webkit-linear-gradient(top, rgb(54, 63, 81) 0%, rgb(50, 60, 71) 100%);
    background: linear-gradient(to bottom, rgb(54, 63, 81) 0%, rgb(50, 60, 71) 100%);

    border-radius: 4px;
    box-shadow: 0 1px 4px #000;
    overflow: hidden;
    width: 590px;

    @include mq($until: desktop) {
        width: auto;
        border-radius: 0;
        box-shadow: 0 2px 20px 1px #000;
    }

    a {
        display: flex;
        width: 100%;
        border-bottom: solid 1px #000;
        line-height: 42px;
        height: 42px;
        padding: 0 10px 0 0;
        position: relative;
        overflow: hidden;

        .item-icon {
            overflow: hidden;
            position: relative;
            width: 42px;
            height: 42px;
            display: inline-block;
            margin-right: 10px;

            img {
                position: absolute;
                left: 50%; top: 50%;
                transform: translate(-50%, -50%);

                display: inline-table;
                height: 40px;
                vertical-align: middle;
                margin: 0;
                border-right: solid 1px #000;
            }
        }

        &:hover {
            background-color: var(--color5);
        }
    }

    h2 {
        text-align: center;
        padding: 30px;
        margin-bottom: 0;
        font-weight: 300;
        font-size: 26px;
        color: #565c6d;
    }

    .item-level {
        color: var(--highlight);
        display: inline-block;
        margin-right: 5px;
        font-weight: 400;
        width: 40px;
    }

    .item-category {
        position: absolute;
        right: 20px;
        color: var(--table-color-3x);
        font-size: 11px;
        text-transform: uppercase;
        text-shadow: none;
    }

    .item-search-list,
    .item-category-list{
        min-height: 300px;
        max-height: 1500px;
        overflow-y: scroll;
    }

    .item-search-header,
    .item-category-header{
        display: flex;
        background-color: var(--default);
        box-shadow: 0 3px 0 rgba(0, 0, 0, 0.5);
        font-size: 14px;
        margin-bottom: 0;
        height: 40px;
        line-height: 40px;
        position: relative;
        z-index: 10;

        > div:first-of-type {
            flex: 0 1 75%;
            padding: 0 15px;
            font-size: 16px;
        }

        > div:last-of-type {
            flex: 0 1 25%;
            text-align: right;

            > button {
                display: inline-block;
                color: #5dd881;
                background-color: rgba(0,0,0,0.2);
                padding: 0 15px;
                height: 40px;
                line-height: 40px;
                border: none;
                outline: none;
                cursor: pointer;
                transition: 100ms;
                vertical-align: top;

                &:hover {
                    background-color: rgba(0,0,0,0.4);
                }
            }
        }
    }
}

.market-board-container,
.market-category-container {
    position: absolute;
    top: 60px;
    left: 70px;
    padding: 10px;
    display: none;
    z-index: 50;

    &.open {
        display: block;
    }

    @include mq($until: wide) {
        left: 220px;
    }

    @include mq($until: tablet) {
        top: 50px;
        left: 0;
        right: 0;
        padding: 0;
    }
}

.market-board {
    background: rgb(54, 63, 81);
    background: -moz-linear-gradient(top, rgb(54, 63, 81) 0%, rgb(50, 60, 71) 100%);
    background: -webkit-linear-gradient(top, rgb(54, 63, 81) 0%, rgb(50, 60, 71) 100%);
    background: linear-gradient(to bottom, rgb(54, 63, 81) 0%, rgb(50, 60, 71) 100%);

    border-radius: 4px;
    box-shadow: 0 1px 4px #000;
    overflow: hidden;
    width: 590px;
    padding-bottom: 10px;

    @include mq($until: desktop) {
        width: 100%;
        border-radius: 0;
        box-shadow: 0 2px 20px 1px #000;
    }

    h2 {
        color: var(--highlight);
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: 500;
        padding: 5px;
        margin-bottom: 5px;
    }

    .categories {
        padding: 10px 14px;

        @include mq($until: desktop) {
            padding: 10px;
        }
    }

    .categories-list {
        display: flex;
        flex-wrap: wrap;

        > button {
            flex: 0 1 44px;
            width: 44px;
            height: 44px;
            line-height: 42px;
            background-color: #242a34;
            border: none;
            color: #fff;
            margin: 1px;
            outline: none;
            border-radius: 2px;
            cursor: pointer;
            transition: 100ms;
            text-align: center;
            padding: 0;
            text-shadow: 0 1px 3px #000;

            @include mq($until: tablet) {
                flex: 0 1 42px;
                width: 42px;
                height: 42px;
                line-height: 40px;

                span {
                    font-size: 30px;
                    margin: 4px 0 0 0;
                }
            }

            &:hover {
                background-color: var(--color2);
                box-shadow: 0 0 3px rgba(0,0,0,0.2);
                position: relative;
                z-index: 2;
                color: #fff;
            }

            span {
                font-size: 34px;
                display: inline-block;
                vertical-align: middle;
                margin: 6px 0 0 0;
            }
        }
    }
}

.error-page {
    width: 100%;
    max-width: 800px;
    margin: 25px auto;

    background-color: var(--color5);
    box-shadow: 0 1px 3px #000;
    border-bottom: solid 5px #7a7502;
    border-radius: 5px;
    padding: 60px 20px;
    text-align: center;

    p {
        font-size: 18px;
    }

    h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    img {
        margin-bottom: 25px;
        height: 160px;
    }

    small {
        margin-top: 20px;
        font-size: 12px;
        opacity: 0.5;
    }
}
